<div class="row py-2">

  <div class="col-md-12 col-xs-12 mb-3">
    <table class="table table-striped">
      <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Product name</th>
        <th scope="col">Count</th>
        <th scope="col">Gift wrap</th>
        <th scope="col">Price</th>
        <th scope="col">Actions</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let detail of orderDetails; index as i">
        <th scope="row">{{i + 1}}</th>
        <td>{{detail.productDto.title}}</td>
        <td>
          <input type="number" value="{{detail.qty}}" [(ngModel)]="detail.qty" class="form-control w-25"/>
        </td>
        <td>
          <input type="checkbox" value="{{detail.giftWrap}}" [(ngModel)]="detail.giftWrap" class="form-check-input">
        </td>
        <td>{{detail.cost}}</td>
        <td>
          <a class="btn btn-success me-2" (click)="editOrderDetail(detail)"><i class="fas fa-check-circle"></i></a>
          <a class="btn btn-danger" (click)="removeOrderDetail(detail.id)"><i class="far fa-trash-alt"></i></a>
        </td>
      </tr>
      </tbody>
    </table>
  </div>

</div>

