<div class="row py-2">

  <div class="col-md-9 col-xs-12 mb-3">
    <table id="cart" class="table table-striped">
      <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Product name</th>
        <th scope="col">Price</th>
        <th scope="col">Count</th>
        <th scope="col">Total price</th>
        <th scope="col">Gift wrap</th>
        <th scope="col">Actions</th>
      </tr>
      </thead>
      <tbody>

      <tr *ngFor="let lineItem of content?.lineItems; index as i">
        <th scope="row">{{i + 1}}</th>
        <td>{{lineItem.productTitle}}</td>
        <td>{{lineItem.cost}}</td>
        <td>
          <input type="number" value="{{lineItem.qty}}" [(ngModel)]="lineItem.qty" class="form-control w-25"/>
        </td>
        <td>{{lineItem.totalCost}}</td>
        <td>
          <input type="checkbox" value="{{lineItem.giftWrap}}" [(ngModel)]="lineItem.giftWrap" class="form-check-input">
        </td>
        <td>
          <a class="btn btn-success me-2" (click)="updateLineItem(lineItem)"><i class="fas fa-check-circle"></i></a>
          <a class="btn btn-danger" (click)="removeLineItem(lineItem)"><i class="far fa-trash-alt"></i></a>
        </td>
      </tr>

      </tbody>
    </table>
    <button class="btn btn-danger" (click)="clearCart()">Clear Cart</button>
  </div>

  <div class="col-md-3 col-xs-12">
    <div class="card">
      <div class="card-body">
        <h2>Order summary</h2>
        <p>SubTotal: ${{content?.subtotal}}</p>
        <button class="btn btn-primary me-2" (click)="createOrder()">Create Order</button>
      </div>
    </div>
  </div>

</div>
