<html lang="en" xmlns:th="http://www.thymeleaf.org">
<th scope="col" th:fragment="sort_header(header, column)">[[${header}]]
    <a th:href="@{/user(page=${users.number} + 1, size=${users.size},
                    firstnameFilter=${param.firstnameFilter}, lastnameFilter=${param.lastnameFilter},
                    emailFilter=${param.emailFilter}, sortField=${column},
                    sortDirection=(${#strings.equals(param.sortField, column)} and
                            ${#strings.equals(param.sortDirection, 'asc')}) ? 'desc' : 'asc')}">
    <i class="fa" th:classappend="(${#strings.equals(param.sortDirection, 'desc')} and
                ${#strings.equals(param.sortField, column)}) ? 'fa-sort-up': 'fa-sort-down'"></i></a>
</th>
</html>