<html lang="en" xmlns:th="http://www.thymeleaf.org">
<th scope="col" th:fragment="sort_header(header, column)">[[${header}]]
    <a th:href="@{/brand(page=${brandDtos.number} + 1, size=${brandDtos.size},
                    titleFilter=${param.titleFilter}, sortField=${column},
                    sortDirection=(${#strings.equals(param.sortField, column)} and
                            ${#strings.equals(param.sortDirection, 'asc')}) ? 'desc' : 'asc')}">
    <i class="fa" th:classappend="(${#strings.equals(param.sortDirection, 'desc')} and
                ${#strings.equals(param.sortField, column)}) ? 'fa-sort-up': 'fa-sort-down'"></i></a>
</th>
</html>