<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/doc_header :: doc_header()">

</head>
<body>

<nav th:replace="fragments/doc_nav_bar :: doc_nav_bar()">

</nav>

<div class="d-flex">
    <nav th:replace="fragments/doc_nav_menu :: doc_nav_menu()">

    </nav>

    <div class="content p-4">
        <div class="row py-2">
            <div class="col-12">
                <form th:action="@{/product}" method="post" th:object="${productDto}" enctype="multipart/form-data">
                    <input type="hidden" id="id" th:field="*{id}">
                    <div class="form-group">
                        <label>Title</label>
                        <input type="text" class="form-control" id="title" th:field="*{title}" placeholder="Enter title">
                        <p class="text-danger" th:if="${#fields.hasErrors('title')}" th:errors="*{title}"></p>

                        <label for="categoryDto">Category</label>
                        <select class="form-control" id="categoryDto" th:field="*{categoryDto}">
                            <option th:selected="${productDto.categoryDto == null}" th:value="null">-</option>
                            <option th:each="cat : ${categories}"
                                    th:text="${cat.title}"
                                    th:value="${cat.id} + ';' + ${cat.title}"
                                    th:selected="${productDto.categoryDto?.equals(cat)}"></option>
                        </select>
                        <p class="text-danger" th:if="${#fields.hasErrors('categoryDto')}" th:errors="*{categoryDto}"></p>

                        <label for="brandDto">Brand</label>
                        <select class="form-control" id="brandDto" th:field="*{brandDto}">
                            <option th:selected="${productDto.brandDto == null}" th:value="null">-</option>
                            <option th:each="br : ${brands}"
                                    th:text="${br.title}"
                                    th:value="${br.id} + ';' + ${br.title}"
                                    th:selected="${productDto.brandDto?.equals(br)}"></option>
                        </select>
                        <p class="text-danger" th:if="${#fields.hasErrors('brandDto')}" th:errors="*{brandDto}"></p>

                        <label>Cost</label>
                        <input type="number" class="form-control" id="cost" th:field="*{cost}" placeholder="Enter cost">
                        <p class="text-danger" th:if="${#fields.hasErrors('cost')}" th:errors="*{cost}"></p>

                        <label>Description</label>
                        <textarea type="text" class="form-control" id="description" th:field="*{description}"
                                  placeholder="Enter description"></textarea>

                    </div>

                    <div class="form-group">
                        <label for="newPictures">Picture image</label>
                        <input type="file" th:field="*{newPictures}" class="form-control"
                               id="newPictures" placeholder="Upload new product pictures" multiple >
                        <p class="text-danger" th:if="${#fields.hasErrors('newPictures')}" th:errors="*{newPictures}"></p>
                    </div>



                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>

<!--            <div class="col-12">-->
<!--                <div class="form-group">-->
<!--                    <figure class="figure" th:each="pic : ${productDto.pictures}">-->
<!--                        <form class="d-inline" th:method="delete"-->
<!--                              th:action="@{/picture/{productId}/{pictureId}(productId=${productDto.id}, pictureId=${pic})}">-->
<!--                            <img th:src="@{/picture/{pictureId}(pictureId=${pic})}"-->
<!--                                 class="img-fluid img-thumbnail" width="200px">-->
<!--                            <figcaption class="figure-caption text-center">-->
<!--                                <button type="submit" class="btn btn-link">-->
<!--                                    <i class="text-danger">x delete</i>-->
<!--                                </button>-->
<!--                            </figcaption>-->
<!--                        </form>-->
<!--                    </figure>-->

<!--                </div>-->
<!--            </div>-->
            <div class="container-fluid mt-4">
                <div class="card-columns">
                    <div class="card" th:each="pic : ${productDto.pictures}">
                        <form class="card-header" th:method="delete"
                              th:action="@{/picture/{productId}/{pictureId}(productId=${productDto.id}, pictureId=${pic})}">
                            <button class="float-right"><i class="fa fa-times"></i></button>
                        </form>
                        <img class="rounded mx-auto d-block" th:src="@{/picture/{pictureId}(pictureId=${pic})}" width="80%">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<th:block th:replace="fragments/doc_script :: doc_script()">

</th:block>

</body>
</html>