<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/doc_header :: doc_header()">

</head>
<body>

<nav th:replace="fragments/doc_nav_bar :: doc_nav_bar()">

</nav>

<div class="d-flex">
    <nav th:replace="fragments/doc_nav_menu :: doc_nav_menu()">

    </nav>

    <div class="content p-4">
        <div class="col-12">
            <a class="btn btn-primary" th:href="@{/user/new}">Add User</a>
        </div>

        <div class="col-12 mt-3">
            <form class="form-inline" th:method="get">
                <div class="form-group mb-2 mr-2">
                    <label for="firstnameFilter" class="sr-only">Firstname</label>
                    <input type="text" class="form-control" id="firstnameFilter" name="firstnameFilter"
                           th:value="${param.firstnameFilter}" placeholder="Firstname">

                    <label for="lastnameFilter" class="sr-only">Lastname</label>
                    <input type="text" class="form-control" id="lastnameFilter" name="lastnameFilter"
                           th:value="${param.lastnameFilter}" placeholder="Lastname">

                    <label for="emailFilter" class="sr-only">E-mail</label>
                    <input type="text" class="form-control" id="emailFilter" name="emailFilter"
                           th:value="${param.emailFilter}" placeholder="E-mail">
                </div>

                <button type="submit" class="btn btn-primary mb-2">Apply</button>
            </form>
        </div>

        <div class="col-12">
            <table class="table table-bordered my-2">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col" th:replace="fragments/doc_user_sort :: sort_header('Firstname', 'firstname')">Title</th>
                    <th scope="col" th:replace="fragments/doc_user_sort :: sort_header('Lastname', 'lastname')">Title</th>
                    <th scope="col" th:replace="fragments/doc_user_sort :: sort_header('ID', 'id')">ID</th>
                    <th scope="col" th:replace="fragments/doc_user_sort :: sort_header('E-mail', 'email')">Title</th>
                    <th scope="col">Actions</th>
                </tr>
                </thead>
                <tbody>
                <tr th:if="${userDtos.hasContent()}" th:each="userDto,iter : ${userDtos.content}">
                    <th scope="row" th:text="${iter.index + 1}">1</th>
                    <td th:text="${userDto.firstname}">firstname</td>
                    <td th:text="${userDto.lastname}">lastname</td>
                    <td th:text="${userDto.id}">1</td>
                    <td th:text="${userDto.email}">email</td>
                    <td>
                        <a class="btn btn-success" th:href="@{/user/{id}(id=${userDto.id})}">
                            <i class="fas fa-edit"></i>
                        </a>
                        <form class="d-inline" th:method="delete" th:action="@{/user/{id}(id=${userDto.id})}">
                            <button type="submit" class="btn btn-danger">
                                <i class="far fa-trash-alt"></i>
                            </button>
                        </form>
                    </td>
                </tr>

                <tr th:unless="${userDtos.hasContent()}">
                    <td colspan="4">No data</td>
                </tr>
                </tbody>
            </table>
        </div>

        <nav aria-label="..." th:if="${userDtos.hasContent()}">
            <ul class="pagination justify-content-center">
                <li class="page-item" th:classappend="${!userDtos.hasPrevious()} ? 'disabled'">
                    <a class="page-link" th:href="@{/user(page=${userDtos.number}, size=${userDtos.size},
                    firstnameFilter=${param.firstnameFilter}, lastnameFilter=${param.lastnameFilter},
                    emailFilter=${param.emailFilter}, sortField=${param.sortField},
                    sortDirection=${param.sortDirection})}" tabindex="-1">Previous</a>
                </li>

                <li class="page-item"
                    th:each="num : ${#numbers.sequence(1, (userDtos.totalPages == 0 ? 1 : userDtos.totalPages))}"
                    th:classappend="${num == userDtos.number + 1} ? 'active'">
                    <a class="page-link" th:text="${num}"
                       th:href="@{/user(page=${userDtos.totalPages == 0 ? 1 : num},
                       size=${userDtos.size}, firstnameFilter=${param.firstnameFilter},
                       lastnameFilter=${param.lastnameFilter}, emailFilter=${param.emailFilter},
                       sortField=${param.sortField},
                       sortDirection=${param.sortDirection})}">1 <span class="sr-only">(current)</span></a>
                </li>

                <li class="page-item" th:classappend="${!userDtos.hasNext()} ? 'disabled'">
                    <a class="page-link" th:href="@{/user(page=${userDtos.number} + 2, size=${userDtos.size},
                    firstnameFilter=${param.firstnameFilter}, lastnameFilter=${param.lastnameFilter},
                    emailFilter=${param.emailFilter}, sortField=${param.sortField},
                    sortDirection=${param.sortDirection})}">Next</a>
                </li>
            </ul>
        </nav>
    </div>
</div>

<th:block th:replace="fragments/doc_script :: doc_script()">

</th:block>

</body>
</html>